@{
    ViewData["Title"] = "Home Page";
}
@if (ViewData["Message"] != null)
{
    <div class="alert alert-info">@ViewData["Message"]</div>
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Hotel UCN</h1>
    <p>Værelse og morgenmad klar til dig.</p>
</div>
